body{
    background: #59d2fa;
}
H1{
    text-align: center;
    font-size: 60px;

    color: #ffffff;
    margin-top: 100px;
    transition: 1s;
}
h1:hover{
    color: aquamarine;
    font-size: 80px;
}

a img{
    width: 50px;
}
 img{

    width: 100%;
 }
  
 #algoritmos{
  background:url("../img/pexels-samer-daboul-1275413.jpg");
  background-size: cover ;
  background-repeat: none;
  text-align: center;
  padding: 100px;
 }
 #algoritmos h1{
     color: #ffffff;
     font-size: 40px;

}

